{
  "presets": [
    "es2015",
    "react",
    "node6"
  ],
  "env": {
    "development": {
       "plugins": ["istanbul"]
     },
    "test": {
      "plugins": ["istanbul"]
    }
  },
  "plugins": ["transform-object-rest-spread"]
}
